{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="post">
    <h2>About Me</h2>
    <p>Heyy!! I am V Kirubha. I am from Edapally. I completed my studies from Campion School.</p>
  </div>
   
  {% for post in posts %}
    <div class="post">
      <h2>{{ post.title }}</h2>
      <p>By {{ post.author }} on {{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</p>
      <p>{{ post.content }}</p>
      
      <!-- Add View button to each post -->
      <div style="margin-top: 20px; text-align: center;">
        <a href="{{ url_for('post_details', id=post.id) }}" class="btn"> View Full Post</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}